.container{
	margin: 0 auto;
	margin-top: 70px;
	text-align: center;
	width: 300px;
}
.subTitle{
	color: gray;
	font-size: 14px;
}
.title{
	font-size: 35px;
}
.input{
	width:90%;
}
.inputContainer{
	text-align: left;
	margin-bottom: 20px;
}
.field{
	font-size: 17px;
}
.input{
	border-radius: 6px;
	height: 25px;
	margin-top: 10px;
	border-color: silver;
	border-style: solid;
	background-color: cornsilk;
}
.subContainer{
	text-align: left;
}
.tip{
	margin-top: 15px;
	font-size: 12px;
	color: gray;
}
.setting{
	font-size: 12px;
	color: brown;
}
.checkbox{
	height: 20px;
	vertical-align: middle;
}
.label{
	font-size: 12px;
	margin-left: 5px;
	height: 20px;
	vertical-align: middle;
}
.btn{
	border-radius: 10px;
	height: 40px;
	width: 300px;
	margin-top: 30px;
	background-color: deepskyblue;
	border-color: blue;
	color: lightseagreen;
	cursor: pointer;
}